html, body {
  height: 100%;
}
.footer_layout_wrap{
  height: 100%;
}
.contact_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c7cac2 ;
  width:100%;
}
.contact_container > header {
  width:100%;
}
.contact_container .contact {
  flex:1 0 auto;
  width:100%;
}
.contact .contact_title {
  margin: 50px 0;
}
.contact .contact_title > h1{
  letter-spacing: 10px;
  margin-bottom: 50px;
}
.contact .contact_title > h2 {
}
.contact .contact_info {
  padding: 1px 0;
}
.contact_info address {
  font-size: 18px;
}
.contact .contact_map > img {
  max-width: 50%;
}

@media (max-width: 768px) {
  .contact_info address {
    font-size: 14px;
  }
  .contact .contact_map > img {
    max-width: 100%;
  }
}
