<template>
  <FooterLayout>
    <div class="contact_container container-fluid">
      <header>
        <a href="/"><img class="header_logo" src="../../assets/tombolo_logo_head.png" alt=""/></a>
      </header>
      <main class="contact">
        <section class="row">
          <article class="col-md-12">
            <div class="contact_title">
              <h1 lang="en">TOMBOLO+CONTACT</h1>
              <h3 lang="en">HIGH QUALITY AND HIGH SATISFACTION</h3>
            </div>
            <div class="circle_divider">
              <i class="fa fa-circle font-white" aria-hidden="true"></i>
            </div>
            <div class="contact_info" >
              <address>
                Tel : 02_2291_1737<br/>
                Fax : 02_2291_1737<br/>
                E-mail : <a href="mailto:winningtombolo@gmail.com">winningtombolo@gmail.com</a><br/>
                Address : 서울시특별시 성동구 왕십리 도선동 22 - 1 다남매타워 1304
              </address>
            </div>
            <div class="contact_map margin-top-30">
              <img src="~@/assets/map.png" alt=""/>
            </div>
          </article>
        </section>

      </main>
    </div>
  </FooterLayout>
</template>

<script>
  import FooterLayout from '../Layout/footerLayout.vue';

  export default {
    data: function () {
      return {
      }
    },
    components: {
      FooterLayout
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "contact.css";
</style>
