<template>
  <FooterLayout>
    <div class="notice_container container-fluid">
      <header>
        <a href="/"><img class="header_logo" src="../../assets/tombolo_logo_head.png" alt=""/></a>
      </header>
      <main class="notice">
        <section class="row">
          <article class="col-md-12">
            <div class="notice_title">
              <h1 lang="en">TOMBOLO+NEWS</h1>
              <div class="circle_divider">
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
              <h3 lang="en">HIGH QUALITY AND HIGH SATISFACTION</h3>
            </div>
          </article>
        </section>
        <section class="notice_news">
          <div class="notice_news__detail container">
            <div class="row">
              <article class="col-md-4">
                <h4 class="notice_news__detail-title" >_이벤트</h4>
                <div class="notice_news__detail-block">
                  <div class="notice_news__detail-block-wrap" v-for="item in newsA">
                    <h4 class="notice_news__detail-block-headline" lang="en">{{item.title}}</h4>
                    <i class="text-line-divider white"></i>
                    <p v-html="item.content">
                    </p>
                    <a @click="modalActiveFunc(item)"> - more -</a>
                  </div>
                </div>
              </article>
              <article class="col-md-4">
                <h4 class="notice_news__detail-title" lang="en">_NEWS</h4>
                <div class="notice_news__detail-block">
                  <div class="notice_news__detail-block-wrap" v-for="item in newsB">
                    <h4 class="notice_news__detail-block-headline" lang="en">{{item.title}}</h4>
                    <i class="text-line-divider white"></i>
                    <p v-html="item.content.replace(/\\n/gi,'<br>')">
                    </p>
                    <a @click="modalActiveFunc(item)"> - more -</a>
                  </div>
                </div>
              </article>
              <article class="col-md-4">
                <h4 class="notice_news__detail-title">_공지사항</h4>
                <div class="notice_news__detail-block">
                  <div class="notice_news__detail-block-wrap" v-for="item in notice">
                    <h4 class="notice_news__detail-block-headline" lang="en">{{item.title}}</h4>
                    <i class="text-line-divider white"></i>
                    <p v-html="item.content.replace(/\\n/gi,'<br>')">
                    </p>
                    <a @click="modalActiveFunc(item)"> - more -</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
        <modal :show="showModal" :title="modalTitle" :content="modalContent" @close="showModal = false">
        </modal>
        <imgModal :show="showImgModal" :imgSrc="imgSrc" @close="showImgModal = false">
        </imgModal>
      </main>
    </div>
  </FooterLayout>
</template>

<script>
  import FooterLayout from '../Layout/footerLayout.vue';
  import modal from '../Modal/modal.vue';
  import imgModal from '../Modal/imgModal.vue';
  import XLSX from 'xlsx';

  export default {
    data: function () {
      return {
        showModal: false,
        showImgModal: false,
        imgSrc: '',
        modalTitle: '',
        modalContent: '',
        newsA: [],
        newsB: [],
        notice: []
      }
    },
    beforeMount () {
      var self = this;
      this.$http.get('/static/data/event.xlsx', {responseType: 'arraybuffer'}).then((result) => {
        self.newsA = self.getExcelToJson(result.data);
      });
      this.$http.get('/static/data/news.xlsx', {responseType: 'arraybuffer'}).then((result) => {
        self.newsB = self.getExcelToJson(result.data);
      });
      this.$http.get('/static/data/noti.xlsx', {responseType: 'arraybuffer'}).then((result) => {
        self.notice = self.getExcelToJson(result.data);
      });
    },
    methods: {
      getExcelToJson (res) {
        var data = new Uint8Array(res);
        var workbook = XLSX.read(data, {type: 'array'});
        var worksheet = workbook.Sheets[workbook.SheetNames[0]];
        var jsonData = XLSX.utils.sheet_to_json(worksheet);
        jsonData = jsonData.map((item, index) => {
          item.content = item.content.replace(/\\n/gi, '<br>');
          return item;
        })
        return jsonData;
      },
      modalActiveFunc (item) {
        this.showModal = true;
        this.modalTitle = item.title;
        this.modalContent = item.content;
      },
      imgModalActiveFunc (item) {
        this.showImgModal = true;
        this.imgSrc = item.imgSrc;
      }
    },
    components: {
      modal,
      imgModal,
      FooterLayout
    }

  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import 'notice.css';

</style>
