html, body {
  height: 100%;
}
.footer_layout_wrap{
  height: 100%;
}
.notice_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:#f2f2f3;
  width: 100%;
}
.notice_container > header {
  width:100%;
}
.notice_container .notice {
  flex:1 0 auto;
  width:100%;
}
.notice .notice_title {
  margin: 50px 0;
}
.notice .notice_title > h1{
  letter-spacing: 10px;
}
.notice .notice_title > h2 {
}
.notice_news {
  background-color:#aaa399;
  text-align: left;
}
.notice_news img {
  width:100%;
  height: auto;
}
.notice_news__detail article:nth-child(2){
  border-left:1px solid #fff;
  border-right:1px solid #fff;
}
.notice_news__detail-title {
  margin: 30px 0;
  font-weight: 600;
}
.notice_news__detail-block {
  max-height: 700px;
  overflow-y: scroll;
}
.notice_news__detail-block a {
  margin-top: 20px;
  color: #fff;
}
/* scroll bar css for IE 11 */
.notice_news__detail-block
{
  scrollbar-arrow-color: transparent;
  scrollbar-3dlight-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-face-color: transparent;
  scrollbar-shadow-color: transparent;
  scrollbar-darkshadow-color: transparent;
  scrollbar-track-color: #aaa399;
}

/* scroll bar css */
.notice_news__detail-block::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: transparent;
}

.notice_news__detail-block::-webkit-scrollbar
{
  width: 3px;
  background-color: transparent;
}
.notice_news__detail-block::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(85, 85, 85, 0.2);
}
/* end scroll bar css */
.notice_news__detail-block-wrap {
  padding:0 7% 10% 0;
}
.notice_news__detail-block-headline, .notice_news__detail p {
  color: #fff;
}

.notice_news__detail p {
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width:768px){
  .notice_news__detail article:nth-child(2){
    border: none;
  }
}
