<template>
  <FooterLayout>
    <div class="brand_detail_container degree137 container-fluid">
      <main class="degree137_detail container">
        <section class="degree137_detail__header">
          <img src="~@/assets/137/137_logo.png" alt="" class="logo"/>
        </section>
        <section class="degree137_detail__section-A row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line white"></i>137 degrees</span>
                </div>
                <p>
                  137 degrees 음료는 일요일 아침에 137 숫자의 부엌에서 모든게 시작됩니다.
                  맛있는 유제품 대체식품을 만들고 싶다는 신념하나로 완성된 크리미하고 깔끔한 맛의 아몬드 밀크,
                  좋은 재료와 좋은 마음으로 건강을 생각하며 만드는 아몬드 밀크 특별한
                  137 degrees의 이름으로 소개합니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="degree137_detail__section-B row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title">
                  <span class="title" lang="en"><i class="title-line white"></i>logo</span>
                </div>
                <p>
                  137 degrees는 타 아몬드 음료 제품에 비해 약 3배 높은 아몬드 함량으로 더욱
                  건강하고 풍미있는 맛을 느끼실 수 있습니다.
                </p>
              </div>
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/137/milks.png" alt="" />
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/137/healthy_mark.png" alt="" />
            </div>
          </article>
        </section>
        <section class="degree137_detail__section-C row full-width">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line"></i>product images</span>
                </div>
                <p>
                  137 degrees는 타 아몬드 음료 제품에 비해 약 3배 높은 아몬드 함량으로 더욱
                  건강하고 풍미있는 맛을 느끼실 수 있으며 누구나 쉽고 편하게 즐길 수 있습니다.
                </p>
              </div>
            </div>
            <div class="detail_image_block">
              <a @click="imgModalActiveFunc(require('../../../assets/137/popup/137_popup.png'))" ><img src="~@/assets/137/137_products.png" alt="" /></a>
            </div>
            <p>_ 클릭하시면 제품 상세 정보를 보실 수 있습니다.</p>
          </article>
        </section>
        <section class="degree137_detail__section-D row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line"></i>description points</span>
                </div>
                <p>
                  -	17년 런칭하여, 현재 일본 세븐일레븐, 로선, 패밀리마트 등 편의점에 인기 판매 중 <br>
                  -	건강하고 가벼운 식물성 밀크<br>
                  -	무설탕, 무방부제, 무합성 첨가물, GMO Free, 콜레스테롤 Free, 락토스 Free<br>
                  -	저 칼로리, High 비타민, 풍부한 식이섬유로 채식주의자 및 우유 알러지에 적합<br>
                  -	무설탕이나, 해바라기씨앗, 코코넛 플라워 꿀로 천연의 단맛을 첨가한 건강한 음료<br>
                  -	저 칼로리로 다이어트에 적합 : 60~70 kcal / 1회 제공량 180ml 기준
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="degree137_detail__section-E row full-width" >
          <article class="col-md-12">
            <div class="detail_image_block">
              <img src="~@/assets/137/healthy_marks_2.png" alt="" />
            </div>
          </article>
        </section>
        <section class="degree137_detail__section-F row full-width" >
          <article class="col-md-12">
            <div class="detail_image_block">
              <img src="~@/assets/137/heathy_points.png" alt="" />
            </div>
          </article>
        </section>
        <section class="degree137_detail__section-G row full-width" >
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line"></i>healthy points</span>
                </div>
              </div>
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/137/heathy_infographic.png" alt="" />
            </div>
          </article>
        </section>
        <section class="degree137_detail__section-H row full-width" >
          <article class="col-md-12">
              <img src="~@/assets/137/137_channel.png" alt="" />
          </article>
        </section>
        <imgModal :show="showImgModal" :imgSrc="imgSrc" @close="showImgModal = false">
        </imgModal>
      </main>
      <div class="brand_detail__btn-backward">
        <i @click="$router.back()" class="fa fa-angle-double-left" aria-hidden="true"></i>
      </div>
    </div>
  </FooterLayout>
</template>

<script>
  import FooterLayout from '../../Layout/footerLayout.vue';
  import imgModal from '../../Modal/imgModal.vue';
  export default {
    name: 'degree137',
    data: function () {
      return {
        showImgModal: false,
        imgSrc: ''
      }
    },
    mounted () {
      this.$nextTick(function () {
      })
    },
    methods: {
      imgModalActiveFunc (url) {
        this.showImgModal = true;
        this.imgSrc = url;
      }
    },
    components: {
      imgModal,
      FooterLayout
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "brand.css";
  @import "degree137.css";
</style>
