.brand_detail_container.danielle,
.brand_detail_container.malee,
.brand_detail_container.risotto
{
  background: #f5f4f2;
}
.brand_detail_container.milky {
  background: #eae8dd;
}
.brand_detail_container.maretti {
  background: #e8e9e9;
}
.brand_detail_container.tombolo {
  background: #f2f2f3;
}
.brand_detail_container.degree137 {
  background: #e6dcd0;
}
.brand_detail_container {
  position: relative;
  margin:0;
}
.brand_detail_container main{
  position: relative;
  max-width: 800px;
  margin: 100px auto;
}
.brand_detail_container .brand_detail__background-img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
}
.brand_detail_container .brand_detail__background-img--down {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 50%;
}
.brand_detail_container .logo {
  max-width: 80%;
}
.brand_detail_container section {
  position: relative;
  padding: 30px 10%;
}
.brand_detail_container img {
  max-width: 100%;
}
.brand_detail_container .center-divider {
  display: block;
  text-align: center;
  padding: 12px;
}
/* brand detail common divider */
.brand_detail_container .center-divider > i {
  display: inline-block;
  width: 50px;
  height:3px;
  background: #281d1d;
}
.brand_detail_container .center-divider.white > i {
  display: inline-block;
  width: 50px;
  height:3px;
  background: #fff;
}
/* end */

/* brand detail common description block */
.brand_detail_container .detail_desc_block {
  padding:10px;
  text-align: left;
}

.brand_detail_container .detail_desc__img {
  padding: 30px 0;
}
.brand_detail_container .detail_desc__img img {
  max-width: 150px;
  height:auto;
}
.brand_detail_container .detail_desc__content-title {
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 25px;
}
.brand_detail_container .detail_desc__content-title i{
  display: inline-block;
  width: 30px;
  height: 3px;
  margin-right: 10px;
  vertical-align: middle;
  transform: translateY(-50%);
  background-color: #281d1d;
}
.brand_detail_container .detail_desc__content-title i.white{
  display: inline-block;
  width: 30px;
  height: 3px;
  margin-right: 10px;
  vertical-align: middle;
  transform: translateY(-50%);
  background-color: #fff;
}
/* end */
.brand_detail_container .detail_image_block {
  padding: 30px 0;
}

.brand_detail_container .detail_image_table_block {

}

.brand_detail_container .brand_detail__btn-backward{
  position: fixed;
  left: 30px;
  top: calc(50% - 52px);
  cursor: pointer;
  font-size: 4em;
}
.brand_detail_container figcaption {
  padding: 15px 0;
}
@media screen and (max-width:768px){
  .brand_detail_container .brand_detail__btn-backward {
    display: none;
  }
  .brand_detail_container .brand_detail__background-img {
    max-width: 120px;
  }
  .brand_detail_container .brand_detail__background-img--down {
    max-width: 120px;
  }
  .brand_detail_container .detail_desc__content-title {
    font-size: 16px;
  }
  .brand_detail_container .detail_desc__content-title i {
    width: 20px;
  }
  .brand_detail_container h3 {
    font-size: 18px;
  }
  .brand_detail_container .brand_detail__btn-backward {
    font-size: 3em;
  }
}
