.danielle_detail {
  color: #8b816e;
  font-weight: 600;
}
.danielle_detail .center-divider i{
  background: #048c4c;
}
.danielle_detail h3 {
  text-transform: uppercase;
}
.danielle_detail .detail_desc_block .title-line {
  background: #8b816e;
}
.danielle_detail__section-A {
  background-image: url(../../../assets/danielle/danielle_box.png);
  background-size: 100% 100%;
}
.danielle_detail__section-D {
  background-image: url(../../../assets/danielle/danielle_box_2.png);
  background-size: 100% 100%;
}
.danielle_detail__section-D img {
  width: 50%;
}
.danielle_detail__section-F {
  background-image: url(../../../assets/danielle/danielle_box_3.png);
  background-size: 100% 100%;
}
.danielle_detail__section-H {
  background-image: url(../../../assets/danielle/danielle_box_4.png);
  background-size: 100% 100%;
}

.danielle_detail__section-F .detail_image_table__title > h3{
  padding: 5px;
  border-right: 3px solid #8b816e;
}
.danielle_detail__section-F .detail_image_table__title--left > h3{
  padding: 5px;
  border-left: 3px solid #8b816e;
}

@media (max-width: 768px) {
  .danielle_detail__section-H h3 {
    margin-top: 50px;
  }
}
