<template>
  <FooterLayout>
    <div class="brand_detail_container danielle container-fluid">
      <main class="danielle_detail container">
        <section class="danielle_detail__header">
          <img src="~@/assets/danielle/danielle_logo.png" alt="" class="logo"/>
          <div class="center-divider">
            <i class="divider"></i>
          </div>
          <img src="~@/assets/danielle/fruit.png" alt="" />
        </section>
        <section class="danielle_detail__section-A row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__img">
                <img src="~@/assets/danielle/danielle_logo.png" alt="" />
              </div>
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line"></i>DANIELLE</span>
                </div>
                <p>
                  다니엘의 크리스피하고 맛있는 과자는
                  세심하게 선택된 재료로 첨단 진공프라이 공법으로
                  소량 생산됩니다. 열대과일에 천연오일을 분사하여
                  만들어진 다니엘은 일반 과자에 비해 칼로리가 적고,
                  과일 본연의 맛을 간직하고 있습니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="danielle_detail__section-B row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title">
                  <span class="title" lang="en"><i class="title-line"></i>description points</span>
                </div>
                <p >
                  다니엘의 크리스피하고 맛있는 과자는 세심하게 선택된 재료로 첨단 진공프라이 공법으로
                  소량 생산됩니다. 열대과일에 천연오일을 분사하여 만들어진 다니엘은 일반 과자에 비해
                  칼로리가 적고, 과일 본연의 맛을 간직하고 있습니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="danielle_detail__section-C full-width row">
          <article class="col-md-12">
            <h3 lang="en">crispy fruit chips</h3>
            <div class="center-divider">
              <i class="divider"></i>
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/danielle/danielle_product.png" alt="" />
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/danielle/healthy_mark.png" alt="" />
            </div>
          </article>
        </section>
        <section class="danielle_detail__section-D row">
          <article class="col-md-12">
            <img src="~@/assets/danielle/danielle_logo.png" alt="" class="logo margin-top-20" />
            <div class="center-divider">
              <i class="divider"></i>
            </div>
            <img src="~@/assets/danielle/fruit.png" alt="" />
            <p class="margin-top-20">
              <strong>다니엘</strong> 의 <strong>크리스피</strong> 하고 <strong>맛있는 과자</strong>는
              세심하게 <strong>선택된 재료</strong>로 <strong>첨단 진공프라이 공법</strong>으로
              <strong>소량 생산</strong>됩니다. <strong>열대과일</strong>에 <strong>천연오일</strong>을 분사하여
              만들어진 <strong>다니엘</strong>은 <strong>일반 과자</strong>에 비해 <strong>칼로리가 적고</strong>,
              과일 <strong>본연의 맛</strong>을 간직하고 있습니다.
            </p>
            <p>
              태국에서 봉사활동을 하였던 미국인 다니엘 여사가
              가족들에게 열대과일의 맛과 영양을 그대로 전하기
              위해 손수 재배한 과일에 천연오일을 뿌려 오븐에
              구은 열대 과일 과자입니다.
            </p>
          </article>
        </section>
        <section class="danielle_detail__section-E full-width row" >
          <article class="col-md-12" >
            <h3>history</h3>
            <div class="center-divider">
              <i class="divider"></i>
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/danielle/time.png" alt="" />
            </div>
          </article>
        </section>
        <section class="danielle_detail__section-F row">
          <article class="col-md-12">
            <h3 lang="en">product introduction</h3>
            <div class="center-divider">
              <i class="divider"></i>
            </div>
            <div class="detail_image_table_block row" >
              <div class="col-md-6">
                <a @click="imgModalActiveFunc(require('../../../assets/danielle/popup/danielle_popup.png'))" ><img src="~@/assets/danielle/mango.png" alt="" /></a>
              </div>
              <div class="col-md-6 text-right">
                <div class="detail_image_table__title">
                  <h3 lang="en">danielle sweet mango chips</h3>
                </div>
                <p>
                  망고는 아시아에서 가장 사랑받는 열대과일입니다.
                  다니엘 농장에서 정성스럽게 키워진 망고의 최상의 맛과
                  신선함을 유지하기 위해 수작업으로 키우고 수확합니다.
                  달콤하고 맛있는 망고의 맛을 바삭한 식감으로
                  다니엘 망고 칩스를 즐겨주세요.
                </p>
              </div>
            </div>
            <div class="detail_image_table_block row" >
              <div class="col-md-6 text-left">
                <div class="detail_image_table__title--left">
                  <h3 lang="en">sweet jackfruit chips</h3>
                </div>
                <p>
                  나무에서 열리는 과일 중 가장 크다는 잭후르츠는
                  파인애플과 바나나의 달콤한 향과 맛을
                  동시에 가진 독특한 과일입니다.
                  다니엘 잭후르츠 칩스는 재밌는 식감과 깊은 풍미의
                  달콤한 맛으로 파티용으로 최고의 과자입니다.
                </p>
              </div>
              <div class="col-md-6">
                <a @click="imgModalActiveFunc(require('../../../assets/danielle/popup/danielle_popup.png'))" ><img src="~@/assets/danielle/jackfruit.png" alt="" /></a>
              </div>
            </div>

            <div class="detail_image_table_block row" >
              <div class="col-md-6">
                <a @click="imgModalActiveFunc(require('../../../assets/danielle/popup/danielle_popup.png'))" ><img src="~@/assets/danielle/banana.png" alt="" /></a>
              </div>
              <div class="col-md-6 text-right">
                <div class="detail_image_table__title">
                  <h3 lang="en">danielle honey banana chips</h3>
                </div>
                <p>
                  세계적으로 가장 유명한 과일 중 하나인 바나나 중에서
                  다른 지역의 바나나 보다 작고 당도가 높은
                  허니 바나나 또는 베이비 바나나라고 불리는
                  태국 바나나로 만든 다니엘 바나나 칩스는 재미와
                  더불어 특별한 느낌의 맛을 주는 제품입니다.
                </p>
              </div>
            </div>

            <div class="detail_image_table_block row" >
              <div class="col-md-6 text-left">
                <div class="detail_image_table__title--left">
                  <h3 lang="en">danielle tangy pineapple chips</h3>
                </div>
                <p>
                  재밌는 생김새만큼 입맛을 돋우는
                  달콤한 과육이 인상적인 파인애플은
                  언제 어디서나 사랑받는 과일이다.
                  파인애플은 ‘비타민C의 여왕’이라는
                  별명처럼 영양분이 풍부한 과일로 유명하다.
                </p>
              </div>
              <div class="col-md-6">
                <a @click="imgModalActiveFunc(require('../../../assets/danielle/popup/danielle_popup.png'))" ><img src="~@/assets/danielle/pineapple.png" alt="" /></a>
              </div>
            </div>

            <div class="detail_image_table_block row" >
              <div class="col-md-6">
                <a @click="imgModalActiveFunc(require('../../../assets/danielle/popup/danielle_popup.png'))" >
                  <img src="~@/assets/danielle/coconut.png" alt="" />
                </a>
              </div>
              <div class="col-md-6 text-right">
                <div class="detail_image_table__title">
                  <h3 lang="en">danielle roasted coconut chips</h3>
                </div>
                <p>
                  코코넛은 코코스야자의 열매로,
                  즙이 많아 음료로 마시며 코코넛의 열매 안쪽의
                  젤리처럼 생긴 과육은 그대로 먹거나
                  기름을 짜는데 쓰입니다. 젤리 상태의 과육에는
                  지방 1∼6%와 인이 많이 들어 있고
                  잘 익은 코코넛에는 지방 26%, 단백질 4g,
                  인 100㎎ 이상, 철 2.5㎎이 들어 있어
                  맛과 건강을 동시에 챙길 수 있는 식품입니다.
                </p>
              </div>
            </div>
            <p>_ 클릭하시면 제품 상세 정보를 보실 수 있습니다.</p>
          </article>
        </section>
        <section class="danielle_detail__section-G full-width row ">
          <article class="col-md-12" >
            <h3 lang="en">award</h3>
            <div class="center-divider">
              <i class="divider"></i>
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/danielle/time_graph.png" alt="" />
            </div>
          </article>
        </section>
        <section class="danielle_detail__section-H row">
          <article class="col-md-12">
            <h3 lang="en">making process</h3>
            <div class="center-divider">
              <i class="divider"></i>
            </div>
            <p>
              * 원재료의 맛 유지<br>
              * 바삭한 식감<br>
              * 적은 열량
            </p>
            <div class="detail_image_block row">
              <div class="col-md-4">
                <figure>
                  <img src="~@/assets/danielle/making_process_A.png" alt="" />
                  <figcaption>
                    다니엘 농장에서
                    세심히 재배된 과일을
                    수작업으로 수확 다듬기
                  </figcaption>
                </figure>
              </div>
              <div class="col-md-4">
                <figure>
                  <img src="~@/assets/danielle/making_process_B.png" alt=""/>
                  <figcaption>
                    청결한 야외건조
                    시설에서 맑고 깨끗한
                    자연바람으로 건조
                  </figcaption>
                </figure>
              </div>
              <div class="col-md-4">
                <figure>
                  <img src="~@/assets/danielle/making_process_C.png" alt="" />
                  <figcaption>
                    천연오일을 뿌린 뒤
                    첨단 진공프라이 공법으로
                    튀기지 않고 굽기
                  </figcaption>
                </figure>
              </div>
            </div>
          </article>
        </section>
        <section class="danielle_detail__section-I row full-width" >
          <article class="col-md-12">
            <img src="~@/assets/danielle/danielle_channel.png" alt="" />
          </article>
        </section>
        <imgModal :show="showImgModal" :imgSrc="imgSrc" @close="showImgModal = false">
        </imgModal>
      </main>
      <div class="brand_detail__btn-backward">
        <i @click="$router.back()" class="fa fa-angle-double-left" aria-hidden="true"></i>
      </div>
    </div>
  </FooterLayout>
</template>

<script>
  import FooterLayout from '../../Layout/footerLayout.vue';
  import imgModal from '../../Modal/imgModal.vue';
  export default {
    name: 'Danielle',
    data: function () {
      return {
        showImgModal: false,
        imgSrc: ''
      }
    },
    mounted () {
      this.$nextTick(function () {
      })
    },
    methods: {
      imgModalActiveFunc (url) {
        this.showImgModal = true;
        this.imgSrc = url;
      }
    },
    components: {
      imgModal,
      FooterLayout
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "brand.css";
  @import "danielle.css";
</style>
