.degree137_detail {
  font-weight: 600;
}
.degree137_detail h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.degree137_detail__section-A {
  color: #fff;
  background-image: url(../../../assets/137/137_box.png);
  background-size: 100% 100%;
}
.degree137_detail__section-B {
  background-image: url(../../../assets/137/137_box_2.png);
  background-size: 100% 100%;
  color: #fff;
}
