.malee_detail {
  color: #8b816e;
  font-weight: 600;
}
.malee_detail .center-divider i{
  background: #048c4c;
}
.malee_detail h3 {
   text-transform: uppercase;
}
.malee_detail__header-tagline {
   color: #e42627;
}
.malee_detail figure.products_column_2 img{
  padding: 0 3%;
  width: calc(94%/3);
  vertical-align: bottom;
}
.malee_detail figure.products_column_4 img{
  padding: 0 3%;
  width: calc(94%/4);
}
.malee_detail figure.products_column_6 img{
  width: calc(94%/6);
}
.malee_detail h4 {
  text-transform: uppercase;
}
.malee_detail .detail_desc__content-title i {
  background: #8b816e;
}
.malee_detail__section-A {
  background-image: url(../../../assets/malee/malee_box_3.png);
  background-size: 100% 100%;
}
.malee_detail__section-E {
  background-image: url(../../../assets/malee/malee_box_2.png);
  background-size: 100% 100%;
}
.malee_detail__section-E img {
  width: 40%;
}
.malee_detail__section-I {
  background-image: url(../../../assets/malee/malee_box.png);
  background-size: 100% 100%;
}
.malee_detail__section-J img {
  padding: 15px;
}


