<template>
  <FooterLayout>
    <div class="brand_detail_container malee container-fluid">
      <main class="malee_detail container">
        <section class="malee_detail__header">
          <img src="~@/assets/malee/malee_logo.png" alt="" class="logo"/>

          <h3  class="malee_detail__header-tagline" lang="en">FRUIT WITH CARE</h3>
        </section>
        <section class="malee_detail__section-A row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__img">
                <img src="~@/assets/malee/malee_logo.png" alt="" style="max-height: 60px;"/>
              </div>
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line"></i>MALEE</span>
                </div>
                <p>
                  동남아 No.1 과즙주스 브랜드인 Malee는 반세기 이상의 역사와 기술을 보유한 태국의 대표 브랜드 입니다.
                  국내에서 접하기 어려운 열대과일을 첨가물 없는 100% 과즙주스로 만들어 소개 드립니다.
                  50만평이 넘는 자체 농장에서 손수 재배한 과일을 깨끗히 짜내어, Tetra팩에 그대로 담아낸 깨끗하고 건강한 과즙 주스 입니다.
                  국내에서 2013년 소개되어 4년 연속 신세계백화점 수입음료 1위를 기록한 검증된 프리미엄 열대과일 주스 입니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="malee_detail__section-B row">
          <article class="col-md-12">
            <div class="detail_desc_block ">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title">
                  <span class="title" lang="en"><i class="title-line"></i>PRODUCT IMAGES</span>
                </div>
                <p>
                  동남아 No.1 과즙주스 브랜드인 Malee는 반세기 이상의 역사와 기술을
                  보유한 태국의 대표 브랜드 Malee 입니다.
                </p>
                <div class="detail_image_block">
                  <figure class="text-center products_column_2">
                    <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/coconut_330ml.png'))"><img src="~@/assets/malee/coconut_water_330ml.png" alt=""/></a>
                    <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/coconut_1000ml.png'))"><img src="~@/assets/malee/coconut_water_1000ml.png" alt=""/></a>
                    <figcaption>
                      _ 클릭하시면 제품 상세 정보를 보실 수 있습니다.
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="malee_detail__section-C full-width row" >
          <article class="col-md-12">
            <h3 lang="en">_ OTHER FLAVORS _1000ML</h3>
            <div class="detail_image_block">
              <figure class="text-center products_column_6" >
                <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/malee_mango.png'))"><img src="~@/assets/malee/mango_1000ml.png" alt=""/></a>
                <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/malee_orange_online.png'))"><img src="~@/assets/malee/orange_1000ml.png" alt=""/></a>
                <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/lychee.png'))"><img src="~@/assets/malee/lychee_1000ml.png" alt=""/></a>
                <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/mangosteen.png'))"><img src="~@/assets/malee/mangosteen_1000ml.png" alt=""/></a>
                <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/guava.png'))"><img src="~@/assets/malee/guava_1000ml.png" alt=""/></a>
                <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/berry_mix.png'))"><img src="~@/assets/malee/berrymix_1000ml.png" alt=""/></a>
                <figcaption>
                  _ 클릭하시면 제품 상세 정보를 보실 수 있습니다.
                </figcaption>
              </figure>
            </div>
          </article>
        </section>
        <section class="malee_detail__section-D row">
          <article class="col-md-12">
            <h3 lang="en">_ OTHER FLAVORS _200ML</h3>
            <div class="detail_image_block">
              <figure class="text-center products_column_4" >
                <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/pineapple_200ml.png'))"><img src="~@/assets/malee/pineapple_200ml.png" alt=""/></a>
                <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/orange_200ml.png'))"><img src="~@/assets/malee/orange_200ml.png" alt=""/></a>
                <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/guava_200ml.png'))"><img src="~@/assets/malee/guava_200ml.png" alt=""/></a>
                <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/berry_mix_200ml.png'))"><img src="~@/assets/malee/berrymix_200ml.png" alt=""/></a>
                <figcaption>
                  _ 클릭하시면 제품 상세 정보를 보실 수 있습니다.
                </figcaption>
              </figure>
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/malee/healthy_mark.png" alt="" />
            </div>
          </article>
        </section>
        <section class="malee_detail__section-E row">
          <article class="col-md-12">
            <img src="~@/assets/malee/malee_logo.png" alt="" class="logo" />
            <div class="center-divider">
              <i class="divider"></i>
            </div>
            <h3 lang="en">history</h3>
            <p class="text-left">
              - 1964년에 설립된 반세기의 전통이 있는 회사<br>
              - 1995년 태국 주식시장에 상장<br>
              - 소속된 직원수 약 1500명<br>
              - 2016년도 매출액 2.6조<br>
              - 동남아 과일음료 마켓 NO.1~2위의 글로벌 회사<br>
              - 미국의 지코 및 수많은 글로벌 브랜드의 OEM 회사
            </p>
          </article>
        </section>
        <section class="malee_detail__section-F row">
          <article class="col-md-12">
            <div class="detail_desc_block" >
              <div class="detail_desc__content">
                <div class="detail_desc__content-title">
                  <span class="title" lang="en">_ description</span>
                </div>
                <p>
                  국내에서 접하기 어려운 열대과일을 첨가물 없는 100% 과즙주스로 만들어 소개 드립니다.
                  50만평이 넘는 자체 농장에서 손수 재배한 과일을 깨끗히 짜내어, Tetra팩에 그대로 담아낸 깨끗하고 건강한 과즙 주스 입니다.
                  국내에서 2013년 소개되어 4년 연속 신세계백화점 수입음료 1위를 기록한 검증된 프리미엄 열대과일 주스 입니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="malee_detail__section-G row">
          <article class="col-md-12">
            <div class="detail_desc_block" >
              <div class="detail_desc__content">
                <div class="detail_desc__content-title">
                  <span class="title" lang="en">_ world wides juice</span>
                </div>
                <p>
                  _ 20개 넘는 국가에 수출한 글로벌 음료<br>
                  _ 미국, 캐나다, 영국, 프랑스, 독일, 스위스<br>
                  _ 일본, 한국, 중국, 홍콩, 러시아<br>
                  _ 미얀마, 캄보디아, 라이소ㅡ, 베트남, 말레이시아, 싱가포르,  인도네시아, 필리핀<br>
                  _ 브루나이, 호주, 몰디브, 방갈라데시아,<br>
                  _ 기타 중동국가
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="malee_detail__section-H row ">
          <article class="col-md-12">
            <div class="detail_desc_block" >
              <div class="detail_desc__content">
                <div class="detail_desc__content-title">
                  <span class="title" lang="en">_ healthy points</span>
                </div>
                <p>
                  _ GMP, HACCP, BRC, IFS<br>
                  _ ISO 22000;2005<br>
                  _ FSSC 22000<br>
                  _ Halal and Kosher Certificates
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="malee_detail__section-I row ">
          <article class="col-md-12">
            <div class="detail_desc_block" >
              <div class="detail_desc__content">
                <div class="detail_desc__content-title">
                  <span class="title" lang="en">_ distribution channel</span>
                </div>
                <p>
                  국내 열대 과일 중, 가장 비싼 열대 과일 음료 2종을 GS슈퍼만을 위한 기획상품으로
                  기획 하였습니다.  GS 전용 패키지와 유어스 로고를 삽입하여 고객들의 친밀도를
                  높인 제품입니다. 독일 Tetra팩으로 상온에서 1년의 유통기간으로 안정적인 운영이 가능합니다 .
                  전국 GS슈퍼 고객들에게 처음으로 선보이는 Malee의 엄선된 기획 세트 입니다.
                </p>
              </div>
            </div>
            <div class="detail_image_block" >
              <img src="~@/assets/malee/gs_x_malee.png" alt="" />
            </div>
          </article>
        </section>
        <section class="malee_detail__section-J row ">
          <article class="col-md-12">
            <p>클릭하시면 톰볼로의 온라인과 오프라인 채널들을 보실 수 있습니다.</p>
            <div class="detail_image_block" >
              <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/malee_channel_offline.png'))" ><img src="~@/assets/malee/offline.png" alt="" class="pull-left"/></a>
              <a @click="imgModalActiveFunc(require('../../../assets/malee/popup/malee_channel_online.png'))" ><img src="~@/assets/malee/online.png" alt="" class="pull-right"/></a>
            </div>
          </article>
        </section>
        <imgModal :show="showImgModal" :imgSrc="imgSrc" @close="showImgModal = false">
        </imgModal>
      </main>
      <div class="brand_detail__btn-backward">
        <i @click="$router.back()" class="fa fa-angle-double-left" aria-hidden="true"></i>
      </div>
    </div>
  </FooterLayout>
</template>

<script>
  import FooterLayout from '../../Layout/footerLayout.vue';
  import imgModal from '../../Modal/imgModal.vue';
  export default {
    name: 'Malee',
    data: function () {
      return {
        showImgModal: false,
        imgSrc: ''
      }
    },
    mounted () {
      this.$nextTick(function () {
      })
    },
    methods: {
      imgModalActiveFunc (url) {
        this.showImgModal = true;
        this.imgSrc = url;
      }
    },
    components: {
      imgModal,
      FooterLayout
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "brand.css";
  @import "malee.css";
</style>
