.maretti_detail {
  font-weight: 600;
}
.maretti_detail .center-divider i{
}
.maretti_detail h3 {
   text-transform: uppercase;
}
.maretti_detail h4 {
  text-transform: uppercase;
}
.maretti_detail__section-A {
  background-image: url(../../../assets/maretti/maretti_box.png);
  background-size: 100% 100%;
  color: #fff;
}
.maretti_detail__section-B {
  background-image: url(../../../assets/maretti/maretti_box_2.png);
  background-size: 100% 100%;
  color: #fff;
}
.maretti_detail__section-C {
  background-image: url(../../../assets/maretti/maretti_box_3.png);
  background-size: 100% 100%;
}

.maretti_detail__section-C-bottom {
  height: 550px;
}

@media screen and (max-width:768px){
  .maretti_detail__section-C-bottom {
    height: auto;
  }
  .maretti_detail__section-C {
    background-image: none;
  }
}
