<template>
  <FooterLayout>
    <div class="brand_detail_container maretti container-fluid">
      <main class="maretti_detail container">
        <section class="maretti_detail__header">
          <img src="~@/assets/maretti/maretti_logo.png" alt="" class="logo"/>
        </section>
        <section class="maretti_detail__section-A row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__img">
                <img src="~@/assets/maretti/maretti_logo.png" alt="" />
              </div>
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line white"></i>maretti</span>
                </div>
                <p>
                  국내 최초 정통 이탈리안 오븐 베이크 부르스게띠 칩 동유럽 10여년간 베이글칩 판매 1위 과자.
                  마르티는 부르스케티의 전통을 이어가는 브랜드 마르띠는 신선한 재료에서부터 제조과정까지 하나하나 꼼꼼히 신경쓰는 건강한 스낵입니다.
                  특별한 정성과 애정을 담은 유로피안의 향기가 담긴 스낵을
                  6가지의다양한 맛으로 즐겨보세요.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="maretti_detail__section-B row">
          <article class="col-md-12">
            <div class="detail_desc_block" >
              <div class="detail_desc__content">
                <div class="detail_desc__content-title " >
                  <span class="title" lang="en"><i class="title-line white"></i>brand</span>
                </div>
                <p>
                  부르스케티의 전통을 이어가는 브랜드 마르띠는 신선한 재료에서부터 제조과정까지
                  하나하나 꼼꼼히 신경쓰는 건강한 스낵입니다.
                </p>
              </div>
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/maretti/brands_photos.png" alt="" />
            </div>
          </article>
        </section>
        <section class="maretti_detail__section-C row">
          <article class="col-md-12" >
            <div class="detail_desc_block" >
              <div class="detail_desc__content">
                <div class="detail_desc__content-title " >
                  <span class="title" lang="en"><i class="title-line"></i>description points</span>
                </div>
                <p>
                  마르띠의 부르게스띠 과자는 질좋은 밀가루와 신선한 재료로 요리사의 수제반죽과
                  직접 오븐 베이킹으로 탄생한 프리미엄 수제과자 입니다.
                </p>
              </div>
            </div>
            <div class="maretti_detail__section-C-bottom"></div>
          </article>
        </section>
        <section class="maretti_detail__section-D full-width row" >
          <article class="col-md-12">
            <div class="detail_desc_block" >
              <div class="detail_desc__content">
                <div class="detail_desc__content-title " >
                  <span class="title" lang="en"><i class="title-line"></i>PRODUCT DETAIL INFORMATION</span>
                </div>
              </div>
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/maretti/martti_product_info.png" alt="" />
            </div>
          </article>
        </section>
        <section class="maretti_detail__section-E row" >
          <article class="col-md-12">
            <div class="detail_desc_block" >
              <div class="detail_desc__content">
                <div class="detail_desc__content-title " >
                  <span class="title" lang="en"><i class="title-line"></i>key points</span>
                </div>
                <p>
                  다양한 맛과 유니크한 감성의 컨셉의 과자 마르띠의 부르게스띠 과자의 KEY POINTS.<br><br>
                  _ 6개의 스페셜하고 다양한 맛을 제공<br>
                  _ 유니크한 컨셉의 스낵<br>
                  _ 과자의 가치를 높여주는 프리미엄 스낵.<br>
                  _ 한번 맛보면 잊을 수 없는 중독성
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="maretti_detail__section-F row" >
          <article class="col-md-12" >
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title " >
                  <span class="title" lang="en"><i class="title-line"></i>global marketing</span>
                </div>
                <h4 class="text-center">"마르띠 부르스게띠는 55개국에서 마켓을 형성"</h4>
              </div>
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/maretti/global_market.png" alt="" />
            </div>
          </article>
        </section>
        <section class="maretti_detail__section-G row full-width" >
        <article class="col-md-12">
          <img src="~@/assets/maretti/maretti_cahnnel.png" alt="" />
        </article>
      </section>
      </main>
      <div class="brand_detail__btn-backward">
        <i @click="$router.back()" class="fa fa-angle-double-left" aria-hidden="true"></i>
      </div>
    </div>
  </FooterLayout>
</template>

<script>
  import FooterLayout from '../../Layout/footerLayout.vue';

  export default {
    name: 'Maretti',
    data: function () {
      return {
      }
    },
    mounted () {
      this.$nextTick(function () {
      })
    },
    components: {
      FooterLayout
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "brand.css";
  @import "maretti.css";
</style>
