.milky_detail {
  color: #5e3d20;
  font-weight: 600;
}
.milky_detail .center-divider i{
  background: #048c4c;
}
.milky_detail .detail_desc__content-title i {
  background: #5e3d20;
}
.milky_detail h3 {
   text-transform: uppercase;
}
.milky_detail h4 {
  text-transform: uppercase;
}
.milky_detail__section-A {
  background-image: url(../../../assets/milky/milky_coco_box.png);
  background-size: 100% 100%;
}
.milky_detail__section-C, .milky_detail__section-F {
  background-image: url(../../../assets/milky/milky_coco_box_2.png);
  background-size: 100% 100%;
}


