<template>
  <FooterLayout>
    <div class="brand_detail_container milky container-fluid">
      <main class="milky_detail container">
        <section class="malee_detail__header">
          <img src="~@/assets/milky/milky_logo.png" alt="" class="logo"/>
        </section>
        <section class="milky_detail__section-A row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__img">
                <img src="~@/assets/milky/milky_logo.png" alt="" />
              </div>
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line"></i>milky coco</span>
                </div>
                <p>
                  100% 식물성음료<br><br>
                  우유인듯 우유아닌 우유같은 밀키코코.
                  코코넛밀크와 코코넛워터를 섞은 우유의 대체 음료인 코코넛밀크음료는 최근 건강을 챙기는 신세대들에게 트랜디한 음료로
                  락토스 또는 우유 알러지가 있는 사람들 사이에서 빠질 수 없는
                  머스트 해브 아이템된 음료로, 타 코코넛 밀크 음료에 비해 코코넛 함량이 높고 풍부한 향기로 성장 가능성이 높은 음료입니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="milky_detail__section-B row" >
          <article class="col-md-12">
            <div class="detail_image_block">
              <img src="~@/assets/milky/brand_photo.png" alt="" />
            </div>
          </article>
        </section>
        <section class="milky_detail__section-C row">
          <article class="col-md-12" >
            <div class="detail_image_block">
              <img src="~@/assets/milky/description.png" alt="" />
            </div>
          </article>
        </section>
        <section class="milky_detail__section-D row" >
          <article class="col-md-12">
            <div class="detail_image_block">
              <img src="~@/assets/milky/process.png" alt="" />
            </div>
          </article>
        </section>
        <section class="milky_detail__section-E row full-width" >
          <article class="col-md-12">
            <div class="detail_image_block">
              <img src="~@/assets/milky/healthy_points.png" alt="" />
            </div>
          </article>
        </section>
        <section class="milky_detail__section-F row" >
          <article class="col-md-12">
            <div class="detail_image_block">
              <img src="~@/assets/milky/process.png" alt="" />
            </div>
          </article>
        </section>
        <section class="milky_detail__section-G row " >
          <article class="col-md-12">
            <div class="detail_desc_block" >
              <div class="detail_desc__content">
                <div class="detail_desc__content-title">
                  <span class="title" lang="en"><i class="title-line"></i>description points</span>
                </div>
                <p class="text-center">
                  밀키코코 제조 업체 Asiatic은 전통적인 방법을 고수하는 코코넛
                  전문 제조 및 수출 업체로 태국에서 인정받은 기업입니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="milky_detail__section-H  row" >
          <article class="col-md-12">
            <div class="detail_image_block">
              <img src="~@/assets/milky/asiatic.png" alt="" />
            </div>
          </article>
        </section>
        <section class="milky_detail__section-I full-width row" >
          <article class="col-md-12">
            <div class="detail_image_block">
              <img src="~@/assets/milky/milkycoco_product_info.png" alt="" />
            </div>
          </article>
        </section>
        <section class="milky_detail__section-J row full-width" >
          <article class="col-md-12">
            <img src="~@/assets/milky/milky_coco_channel.png" alt="" />
          </article>
        </section>
      </main>
      <div class="brand_detail__btn-backward">
        <i @click="$router.back()" class="fa fa-angle-double-left" aria-hidden="true"></i>
      </div>
    </div>
  </FooterLayout>
</template>

<script>
  import FooterLayout from '../../Layout/footerLayout.vue';
  export default {
    name: 'Milky',
    data: function () {
      return {
      }
    },
    mounted () {
      this.$nextTick(function () {
      })
    },
    components: {
      FooterLayout
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "brand.css";
  @import "milky.css";
</style>
