.risotto_detail {
  font-weight: 600;
}
.risotto_detail .center-divider i{
}
.risotto_detail h3 {
   text-transform: uppercase;
}
.risotto_detail h4 {
  text-transform: uppercase;
}
.risotto_detail__section-A {
  background-image: url(../../../assets/risotto/risotto_box.png);
  background-size: 100% 100%;
  transform: translateY(10px);
  z-index: 50;
}
.risotto_detail__section-B {
  background-image: url(../../../assets/risotto/risotto_box_2.png);
  background-size: 100% 100%;
  color: #fff;
  transform: translateY(-17px);
}


