<template>
  <FooterLayout>
    <div class="brand_detail_container risotto container-fluid">
      <main class="risotto_detail container">
        <section class="risotto_detail__header">
          <img src="~@/assets/risotto/risotto_logo.png" alt="" class="logo"/>
        </section>
        <section class="risotto_detail__section-A row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__img">
                <img src="~@/assets/risotto/risotto_logo.png" alt="" />
              </div>
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line"></i>risotto chips</span>
                </div>
                <p>
                  "이탈리안 벽돌오븐 방식으로 구워낸 허브 향기 가득한 리조또칩"<br><br>
                  벽돌오븐에서 흐르는 신선하고 향기로운 허브의 향이 있는 이탈리아 식탁으로 당신을 초대합니다.
                  타볼라 리조또칩은 최고급 품종의 쌀로 잊을 수 없을 만한 바삭한 식감의 제품을 만들자라는 신념에서 시작 되었습니다.
                  타볼라 리조또칩은 기존의 밋밋한 맛의 쌀과자는 잊게 만드는 마음 따듯하게 구워진 새로운 개념의 라이스칩입니다.
                  타볼라칩은 두번의 베이킹을 통해 최상의 식감과 바삭함을 약속하고, 최고급 향신료로 향기와 맛의 풍미의
                  세계로 이끄는 신개념 하이브리드 칩입니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="risotto_detail__section-B row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title " >
                  <span class="title" lang="en"><i class="title-line white"></i>brand</span>
                </div>
                <p>
                  "벽돌오븐에서 흐르는 신선하고 향기로운 허브의 향이 있는 이탈리안 리조또"
                </p>
              </div>
            </div>
            <div class="detail_image_block">
              <img src="~@/assets/risotto/brand_photo.png" alt="" />
            </div>
          </article>
        </section>
        <section class="risotto_detail__section-C row" >
          <article class="col-md-12" >
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title " >
                  <span class="title" lang="en"><i class="title-line"></i>description points</span>
                </div>
                <h3 class="text-center">"리조또 칩의 건강한 포인트"</h3>
                <p class="text-center">
                  타볼라 리조또칩은 엄격한 미국 FDA의 승인을 취득하고,
                  글루틴프리, 무방부제, 100% 천연재료, 유지방 프리, MSG 프리,
                  무 인공색소 등 최고등급의 깨끗한 과자로 안심하고 드셔도 좋습니다.
                </p>
                <div class="center-divider">
                  <i class="divider"></i>
                </div>
                <div class="detail_image_block">
                  <img src="~@/assets/risotto/healthy_marks.png" alt="" />
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="risotto_detail__section-D row full-width" >
          <article class="col-md-12">
              <img src="~@/assets/risotto/risotto_box_3.png" alt="" />
          </article>
        </section>
        <section class="risotto_detail__section-E row">
          <article class="col-md-12" >
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title " >
                  <span class="title" lang="en"><i class="title-line"></i>description points</span>
                </div>
                <h4 class="text-center">"미국에서 인정한 스낵"</h4>
                <p class="text-center">
                  신세계 백화점 독점으로 준비한 이탈리안 타볼라칩은
                  현재 미국 타켓, 홀푸드 등 최고급 채널에
                  최근 입점된 최신 트렌드의 모던칩입니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="milky_detail__section-J row full-width" >
          <article class="col-md-12">
            <img src="~@/assets/risotto/risotto_channel.png" alt="" />
          </article>
        </section>
      </main>
      <div class="brand_detail__btn-backward">
        <i @click="$router.back()" class="fa fa-angle-double-left" aria-hidden="true"></i>
      </div>
    </div>
  </FooterLayout>
</template>

<script>
  import FooterLayout from '../../Layout/footerLayout.vue';

  export default {
    name: 'Risotto',
    data: function () {
      return {
      }
    },
    mounted () {
      this.$nextTick(function () {
      })
    },
    components: {
      FooterLayout
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "brand.css";
  @import "risotto.css";
</style>
