<template>
  <FooterLayout>
    <div class="brand_detail_container danielle container-fluid">
      <main class="tombolo_detail container">
        <section class="tombolo_detail__header">
          <img src="~@/assets/tombolo/tombolo_logo.png" alt="" class="logo"/>
          <div class="margin-top-50">
            <h2 lang="en">HIGH QUALITY AND HIGH SATISFACTION</h2>
          </div>
        </section>
        <section class="tombolo_detail__section-A row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line white"></i>tombolo</span>
                </div>
                <p>
                  Winning Corp.는 2012년에 설립한 해외의 트랜디한 유수의
                  브랜드들을 수입하는 수입업체입니다.
                  동남아 1위 과즙주스 브랜드인 Malee 및 Atlantic Foods, Milky Coco, 그리고 137Degrees 등의 한국 독점 Agent로 주요 거래처로는 오프라인으로 신세계백화점, GS슈퍼, GS25, 올리브영 그리고 이마트 등 이며, 온라인으로는 티몬, 쿠팡, 29cm, 다노샾, 펀샵, 인테이크 등으로 활발히 거래하고 있는 젊고, 건강하고, 트렌디한 제품을 수입 유통하는 업체입니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="tombolo_detail__section-B row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title">
                  <span class="title" lang="en"><i class="title-line white"></i>logo</span>
                </div>
                <p>
                  Tombolo는 섬과 육지를 이어주는 작은 길로 이 길을 통해 단절된 육지와 섬을
                  소통할 수 있다는 뜻을 가진 로고입니다. 이 뜻안에는 Winning corp.의 가치관과
                  목적을 간단하면서도 쉽게 나타내고 있으며 젊은 감성과 신선하고 독특한 느낌으로
                  한국 식품 트랜드를 이끌어 가고자 합니다.
                </p>
              </div>
            </div>
            <div class="tombolo_detail__section-B-variation">
              <div class="col-md-12">
                <figure>
                  <img src="~@/assets/tombolo/tombolo_logo.png" alt="" />
                  <figcaption>
                    [ 기본형 ]
                  </figcaption>
                </figure>
                <div class="row">
                  <figure class="col-md-6">
                    <img src="~@/assets/tombolo/variation1.png" alt="" />
                    <figcaption>
                      [ 바리에이션 ]
                    </figcaption>
                  </figure>
                  <figure class="col-md-6">
                    <img src="~@/assets/tombolo/variation2.png" alt=""/>
                    <figcaption>
                      [ 바리에이션 ]
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="center-divider white">
                <i class="divider"></i>
              </div>
            </div>
          </article>
        </section>
        <section class="tombolo_detail__section-C row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line"></i></span>
                </div>
                <p>
                  성장하는 나이테와 흘러가는 물결을 추상적으로 표현: 성장하는 해외식품 수입업체임을
                  나타내고자 하였고 바리에이션과 컬러변형으로 다양한 디자인과 장소에 어울릴 수 있도록
                  하였고 디자인 요소를 최적화 하여 깔끔하고 간결함을 극대화 시킨 로고입니다.
                </p>
              </div>
            </div>
          </article>
        </section>
        <section class="tombolo_detail__section-D row">
          <article class="col-md-12">
            <div class="detail_desc_block">
              <div class="detail_desc__content">
                <div class="detail_desc__content-title" >
                  <span class="title" lang="en"><i class="title-line"></i>COLORS</span>
                </div>
                <div class="detail_image_table_block">
                  <img src="~@/assets/tombolo/color.png" alt=""/>
                </div>
              </div>
            </div>
          </article>
        </section>
      </main>
      <div class="brand_detail__btn-backward">
        <i @click="$router.back()" class="fa fa-angle-double-left" aria-hidden="true"></i>
      </div>
    </div>
  </FooterLayout>
</template>

<script>
  import FooterLayout from '../../Layout/footerLayout.vue';
  export default {
    name: 'Tombolo',
    data: function () {
      return {
      }
    },
    mounted () {
      this.$nextTick(function () {
      })
    },
    components: {
      FooterLayout
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "brand.css";
  @import "tombolo.css";
</style>
