.tombolo_detail {
  font-weight: 600;
}
.tombolo_detail h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.tombolo_detail__section-A {
  color: #fff;
  background-image: url(../../../assets/tombolo/tombolo_box.png);
  background-size: 100% 100%;
}
.tombolo_detail__section-B {
  background-image: url(../../../assets/tombolo/tombolo_box_2.png);
  background-size: 100% 100%;
  color: #fff;
}

.tombolo_detail__section-B-variation img{
  max-width: 200px;
}

