<template>
  <transition name="modal">
    <div class="tombolo-modal-banner" v-show="show"  >
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <i @click="$emit('close')" class="fa fa-times pull-right tombolo-modal__close" aria-hidden="true"></i>
            <h3>
              {{title}}
            </h3>
          </div>
          <section class="modal-body" >
            <article v-html="content"></article>
          </section>
          <div class="modal-footer" style="padding: 5px;">
            <div class="pull-left">
              <input type="checkbox" class="today-display-checkbox" id="today-display-checkbox">
              <label for="today-display-checkbox"> 오늘 하루 보지 않기</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'bannerModal',
    props: {
      show: {
        type: Boolean,
        required: true,
        twoWay: true
      },
      title: {
        type: String,
        required: true,
        twoWay: true
      },
      content: {
        type: String,
        required: true,
        twoWay: true
      }
    },
    watch: {
      show: function (newVal, oldVal) { // watch it
        console.log('Prop changed: ', newVal, ' | was: ', oldVal)
        if (newVal) {
          $('body').css({overflow: 'hidden'});
        } else {
          $('body').css({overflow: 'auto'});
        }
      }
    },
    data: function () {
      return {
        checked: false
      }
    },
    mounted () {
      this.$nextTick(function () {
        var self = this;
        $('#today-display-checkbox').change(function () {
          if (this.checked) {
            self.setPopupCookie(1);
          } else {
            self.setPopupCookie(-1);
          }
        });
      })
    },
    methods: {
      setPopupCookie (expire) {
        var todayValue = new Date();
        // 오늘 날짜를 변수에 저장
        todayValue.setDate(todayValue.getDate() + expire);
        document.cookie = 'popup' + new Date().getDate() + '=' + encodeURI('end') + '; expires=' + todayValue.toGMTString() + '; path=/;';
      }
    },
    components: {
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "modal.css";
</style>
