<template>
  <transition name="modal">
    <div class="tombolo-modal" v-show="show"  >
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <i @click="$emit('close')" class="fa fa-times pull-right tombolo-modal__close" aria-hidden="true"></i>
            <h3>
              {{title}}
            </h3>
          </div>
          <section class="modal-body" >
            <article v-html="content"></article>
          </section>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'modal',
    props: {
      show: {
        type: Boolean,
        required: true,
        twoWay: true
      },
      title: {
        type: String,
        required: true,
        twoWay: true
      },
      content: {
        type: String,
        required: true,
        twoWay: true
      }
    },
    watch: {
      show: function (newVal, oldVal) { // watch it
        console.log('Prop changed: ', newVal, ' | was: ', oldVal)
        if (newVal) {
          $('body').css({overflow: 'hidden'});
        } else {
          $('body').css({overflow: 'auto'});
        }
      }
    },
    data: function () {
      return {
      }
    },
    components: {
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "modal.css";
</style>
