.tombolo-modal, .tombolo-modal-img, .tombolo-modal-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 /* height: 100%; */
  height: 100vh; /* mobile height does't contain URL bar */
  background: rgba(0,0,0,0.7);
  display: table;
  transition: opacity .3s ease;
  z-index: 999;
}
.tombolo-modal-banner {
  background: rgba(0,0,0,0.3);
}
.tombolo-modal img, .tombolo-modal-img img {
  width: 80%;
  height: auto;
}
.tombolo-modal .modal-wrapper,
.tombolo-modal-img .modal-wrapper,
.tombolo-modal-banner .modal-wrapper
{
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}
.tombolo-modal-banner .modal-wrapper {
  padding-top: 2%;
  vertical-align: top;
}
.tombolo-modal .modal-body,
.tombolo-modal-banner .modal-body
{
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  column-rule: 2px outset #444;
  text-align: left;
}
.tombolo-modal .modal-container {
  max-width: 80%;
  /*max-height: 80%; */
  max-height: 800px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
  margin: 0 auto;
  padding: 20px 30px;
  color: #404040;
  font-weight: 600;
  line-height: 25px;
  background-color: #f9f7f1;
}
.tombolo-modal-img .modal-container
{
  max-width: 60%;
  /*max-height: 90%; */
  max-height: 800px;
  overflow-y: scroll;
  transition: all .3s ease;
  margin: 0 auto;
  padding: 5px 5px;
  background:transparent;
}
.tombolo-modal-banner .modal-container {
  max-width: 35%;
  /*max-height: 80%; */
  max-height: 800px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
  margin: 0 auto;
  padding: 20px 30px;
  color: #404040;
  font-weight: 600;
  line-height: 25px;
  background-color: #f9f7f1;
}
.tombolo-modal .modal-header,
.tombolo-modal-banner .modal-header
{
  font-family: 'PT Serif', serif;
  border-bottom: 2px solid #333;
  padding:0;
}
.tombolo-modal-img .modal-header {
  padding: 15px 10%;
  border: none;
}
.tombolo-modal .modal-header h3,
.tombolo-modal-banner .modal-header h3
{
  font-size: 2.4em;
  font-weight: 900;
}
.tombolo-modal .modal-footer,
.tombolo-modal-banner .modal-footer
{
  margin-top: 15px;
}
.tombolo-modal__close {
  font-size: 20px;
  cursor: pointer;
}
.tombolo-modal-img__close {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
/* common modal css */
.modal-container::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: transparent;
}

.modal-container::-webkit-scrollbar
{
  width: 3px;
  background-color: transparent;
}
.modal-container::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(85, 85, 85, 0.2);
}
.modal-enter, .modal-leave {
  opacity: 0;
}
.modal-enter .modal-container, .modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* end common modal css */

@media screen and (max-width:768px){
  .tombolo-modal .modal-body,
  .tombolo-modal-banner .modal-body,
  .tombolo-modal-banner .modal-footer
  {
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    line-height: 1.5em;
    font-size: .7em;
  }
  .tombolo-modal .modal-container,
  .tombolo-modal-img .modal-container,
  .tombolo-modal-banner .modal-container
  {
    max-width: 90%;
    max-height: 500px;
  }
  .tombolo-modal img, .tombolo-modal-img img {
    width: 100%;
  }
  .tombolo-modal .modal-header h3,
  .tombolo-modal-banner .modal-header h3
  {
    font-size: 1.4em;
    font-weight: 900;
  }
  .tombolo-modal-banner .modal-container{
    max-width: 70%;
  }
}
