html, body {
  height: 100%;
}
.footer_layout_wrap{
  height: 100%;
}
.brands_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9cada5 ;
  width: 100%;
  color: #fff;
}
.brands_container > header {
  flex:1 0 auto;
  width:100%;
}

.brands {
  background: url(../../assets/brand_wave.png) no-repeat bottom;
  background-size: contain;
}
.brands_container .brands {
  flex:1 0 auto;
  width:100%;
}
.brands .carousel-3d-container {
  width: 80%;
}
.brands .carousel-3d-slide {
  height: auto;
  border:none;
  background-color: rgba(255, 255, 255,0) !important;
  text-align: center;
  line-height: 272px;
}

.brands .carousel-3d-slide img{
  max-width:200px;
  height: auto;
  /*max-height: 200px; */
}

.brands .brands_title > h1{
  letter-spacing: 10px;
}

@media screen and (max-width:768px){
  .brands .carousel-3d-container {
    width: 100%;
  }
  .brands .carousel-3d-slide img{
    max-width:120px;
    max-height: 120px;
  }
}
