<template>
  <FooterLayout>
    <div class="brands_container container-fluid">
      <header>
        <a href="/"><img class="header_logo" src="../../assets/tombolo_logo_head.png" alt=""/></a>
      </header>
      <main class="brands">
        <section class="row">
          <article class="col-md-12">
            <div class="brands_title">
              <h1 lang="en">TOMBOLO+BRANDS</h1>
              <div class="circle_divider">
                <i class="fa fa-circle font-white" aria-hidden="true"></i>
              </div>
              <h3 lang="en">HIGH QUALITY AND HIGH SATISFACTION</h3>
            </div>
            <div id="brands_carousel"  class="brands_carousel" >
              <carousel-3d :controls-visible="true" :clickable="true" :inverse-scaling="1500" :space="600"  :autoplay="true" :autoplay-timeout="3000" :display="6" startIndex="2">
                <slide :index="0">
                  <figure>
                    <a href="#/maretti/detail"><img src="../../assets/maretti_logo.png"></a>
                  </figure>
                </slide>
                <slide :index="1">
                  <figure>
                    <a href="#/degree137/detail"><img src="../../assets/137_logo.png"></a>
                  </figure>
                </slide>
                <slide :index="2">
                  <figure>
                    <a href="#/risotto/detail"><img src="../../assets/risotto_logo.png"></a>
                  </figure>
                </slide>
                <slide :index="3">
                  <figure>
                    <a href="#/malee/detail"><img src="../../assets/malee_logo.png"></a>
                  </figure>
                </slide>
                <slide :index="4">
                  <figure>
                    <a href="#/danielle/detail"><img src="../../assets/danielle_logo.png"></a>
                  </figure>
                </slide>
                <slide :index="5">
                  <figure>
                    <a href="#/milky/detail"><img src="../../assets/milky_logo.png"></a>
                  </figure>
                </slide>
              </carousel-3d>
            </div>
          </article>
        </section>
      </main>
    </div>
  </FooterLayout>
</template>

<script>
  import FooterLayout from '../Layout/footerLayout.vue';
  import { Carousel3d, Slide } from 'vue-carousel-3d';

  export default {
    data: function () {
      return {
      }
    },
    components: {
      Carousel3d,
      Slide,
      FooterLayout
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "brands.css";
</style>
