<template>
  <div class="home_container container-fluid">
              <h4 class="slots__option_col-A-title" lang="en">aa</h4>
    <main class="slots row" >
    </main>
  </div>
</template>

<script>
  export default {
    name: 'Home',
    data: function () {
      return {
        windowHeight: $(window).height() - 60,
        lastScrollY: 0,
        isDisabled: false
      }
    },
    mounted () {
      this.$nextTick(function () {
        this.windowHeight = $(window).height() - 0.5; // window height 반올림 문제 해결 위해

        $('#slots__slot_A').css({top: -(3 * this.windowHeight)});
        $('#slots__slot_B').css({top: -(3 * this.windowHeight)});
        $('#slots__slot_C').css({top: -(3 * this.windowHeight)});

        $(window).resize(this.resizeCallBack); // window resize 이벤트 등록
        $('.home_container').on('mousewheel DOMMouseScroll', this.determineDirection); // mouse scroll 이벤트 등록
      })
    },
    methods: {
      determineDirection (event) {
        if (this.isDisabled === false) {
          if (event.originalEvent.wheelDelta === -150) {
            this.animate('up');
          } else {
            this.animate('down');
          }
        }
      },
      resizeCallBack () {
        this.windowHeight = $(window).height() - 0.5; // window height 반올림 문제 해결 위해

        $('#slots__slot_A').css({top: -(3 * this.windowHeight)});
        $('#slots__slot_B').css({top: -(3 * this.windowHeight)});
        $('#slots__slot_C').css({top: -(3 * this.windowHeight)});
      },
      animate (direction) {
        this.isDisabled = true;
        let windowHeight;
        windowHeight = (direction === 'down') ? -(6 * this.windowHeight) : 0;

        let $actionA = $('#slots__slot_A');
        let $actionB = $('#slots__slot_B');
        let $actionC = $('#slots__slot_C');

        var aniObj = {};
        aniObj[direction] = windowHeight;
        let self = this;
        $actionA.animate({top: windowHeight}, 500, 'swing', function () {
          self.rotateContents($actionA, 3, direction);
        });
        $actionB.animate({top: windowHeight}, 700, 'swing', function () {
          self.rotateContents($actionB, 3, direction);
        });
        $actionC.animate({top: windowHeight}, 900, 'swing', function () {
          self.rotateContents($actionC, 3, direction);
          setTimeout(function () {
            self.isDisabled = false;
          }, 300);
        });
      },
      rotateContents ($container, n, direction) {
        let self = this;
        setTimeout(function () {
          self.popPushNItems($container, n, direction);
          $container.css({top: -(n * self.windowHeight)});
        }, 300);
      },
      popPushNItems ($container, n, direction) {
        let $children = $container.find('.slots__option');

        if (direction === 'down') {
          $children.slice(0, n).height(this.windowHeight).insertAfter($children.last());
        } else if (direction === 'up') {
          $children.slice(-3).height(this.windowHeight).insertBefore($children.first());
        }

        if (n === $children.length) {
          this.popPushNItems($container, 1);
        }
      }

    },
    beforeDestroy () {
      $(window).off('resize');
    }
  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import 'Home.css';
</style>
