<template>
  <div class="home_container container-fluid">
    <main class="slots row" :style="{ height: windowHeight + 'px' }" >
      <section class="slots__slot col-md-4 hidden-phone hidden-tablet"  :style="{ height: windowHeight + 'px' }">
        <article id="slots__slot_A"  class="slots__container" >
          <div class="slots__option slots__option_col-A maretti" data-type="maretti" :style="{ height: windowHeight + 'px' }">
            <div class="slots__option_col-A-info" >
              <h4 class="slots__option_col-A-title" LANG="en">MARETTI</h4>
              <i class="text-line-divider white"></i>
              <p>
                국내 최초 정통 이탈리안 오븐 베이크 부르스게띠 칩 동유럽 10여년간 베이글칩 판매 1위 과자.
                마르티는 부르스케티의 전통을 이어가는
                브랜드로. 특별한 정성과 애정을 담는
                유로피안의 향기가 담긴 스낵입니다.
              </p>
              <a href="#/maretti/detail" class="font-white"> - more -</a>
            </div>
          </div>
          <div class="slots__option slots__option_col-A degree137" data-type="137degree" :style="{ height: windowHeight + 'px' }">
            <div class="slots__option_col-A-info">
              <h4 class="slots__option_col-A-title">137 <span lang="en">DEGREES</span></h4>
              <i class="text-line-divider"></i>
              <p>
                137 degrees 음료는 일요일 아침에 137 숫자의 부엌에서 모든게 시작됩니다.
                맛있는 유제품 대체식품을 만들고 싶다는 신념하나로 완성된 크리미하고 깔끔한 맛의 아몬드 밀크
              </p>
              <a href="#/degree137/detail"> - more -</a>
            </div>
          </div>
          <div class="slots__option slots__option_col-A risotto" data-type="risotto" :style="{ height: windowHeight + 'px' }">
            <div class="slots__option_col-A-info">
              <h4 class="slots__option_col-A-title" lang="en">RISOTTO CHIPS</h4>
              <i class="text-line-divider"></i>
              <p>
                "이탈리안 벽돌오븐 방식으로 구워낸 허브 향기 가득한 리조또칩"<br/>
                벽돌오븐에서 흐르는 신선하고 향기로운
                허브의 향이 있는 이탈리아 식탁으로 당신을 초대합니다. 타볼라 리조또칩은 최고급 품종의 쌀로 잊을 수 없을 만한 바삭한 식감의 제품을 만들자라는 신념에서 시작 되었습니다.
                타볼라 리조또칩은 기존의 밋밋한 맛의 쌀과자는
                잊게 만드는 마음 따듯하게 구워진 새로운 개념의 라이스칩입니다. 타볼라칩은 두번의 베이킹을 통해
                최상의 식감과 바삭함을 약속하고,
                최고급 향신료로 향기와 맛의 풍미의
                세계로 이끄는 신개념 하이브리드 칩입니다.
              </p>
              <a href="#/risotto/detail"> - more -</a>
            </div>
          </div>
          <div class="slots__option slots__option_col-A tombolo" data-type="tombolo" :style="{ height: windowHeight + 'px' }">
            <div class="slots__option_col-A-info">
              <h4 class="slots__option_col-A-title" lang="en">TOMBOLO</h4>
              <i class="text-line-divider"></i>
              <p>
                Winning Corp.는 2012년에 설립한 해외의 트랜디한 유수의 브랜드들을 수입하는 수입업체입니다. 동남아 1위 과즙주스 브랜드인 Malee 및 Atlantic Foods, Milky Coco, 그리고 137Degrees 등의 한국 독점 에이전트이며 단순히 식품을 수입하는 모토가 아닌 건강하고 신선한 가공을 거친 브랜드들을 엄선하여 고객 들에게 전달하고 있습니다. 선진국의 식문화 트렌드에 맞춰 더 나아가 트렌드를 리딩하는 회사로 자리 매김 하려하는 젊은 패기와 감성의 회사 입니다.
              </p>
              <a href="#/tombolo/detail"> - more -</a>
            </div>
          </div>
          <div class="slots__option slots__option_col-A danielle " data-type="danielle" :style="{ height: windowHeight + 'px' }">
            <div class="slots__option_col-A-info">
              <h4 class="slots__option_col-A-title" lang="en">DANIELLE CHIPS</h4>
              <i class="text-line-divider white"></i>
              <p>
                다니엘의 크리스피하고 맛있는 과자는 세심하게 선택된 재료로 첨단 진공프라이 공법으로 소량 생산됩니다.
                열대과일에 천연오일을 분사하여 만들어진 다니엘은 일반 과자에 비해 칼로리가 적고, 과일 본연의 맛을 간직하고 있습니다.
                태국에서 봉사활동을 하였던 미국인 다니엘 여사가 가족들에게 열대과일의 맛과 영양을 그대로 전하기 위해 손수 재배한 과일에 천연오일을 뿌려 오븐에 구은 열대 과일 과자입니다.
              </p>
              <a href="#/danielle/detail" class="font-white"> - more -</a>
            </div>
          </div>
          <div class="slots__option slots__option_col-A milky_coco" data-type="milky_coco" :style="{ height: windowHeight + 'px' }">
            <div class="slots__option_col-A-info">
              <h4 class="slots__option_col-A-title" lang="en">MILKY COCO</h4>
              <i class="text-line-divider"></i>
              <p>
                우유인듯 우유아닌 우유같은 밀키코코.
                코코넛밀크와 코코넛워터를 섞은 우유의 대체 음료인 코코넛밀크음료는 라우릭산과 중간사슬지방산을 함유하고 있습니다.
                또한 락토스와 글루틴이 없어, 최근 건강을
                챙기는 신세대들에게 적합하며,
                락토스 또는 우유 알러지가 있는
                사람들에게 좋습니다.
              </p>
              <a href="#/milky/detail"> - more -</a>
            </div>
          </div>
          <div class="slots__option slots__option_col-A malee" data-type="malee" :style="{ height: windowHeight + 'px' }">
            <div class="slots__option_col-A-info">
              <h4 class="slots__option_col-A-title" lang="en">MALEE</h4>
              <i class="text-line-divider white"></i>
              <p>
                동남아 No.1 과즙주스 브랜드인 Malee는 반세기 이상의 역사와 기술을 보유한 태국의 대표 브랜드 입니다.
                국내에서 접하기 어려운 열대과일을 첨가물 없는 100% 과즙주스로 만들어 소개 드립니다. 50만평이 넘는 자체 농장에서 손수 재배한 과일을 깨끗히 짜내어,
                Tetra팩에 그대로 담아낸 깨끗하고 건강한 과즙 주스 입니다. 국내에서 2013년 소개되어 4년 연속 신세계백화점 수입음료 1위를 기록한 검증된 프리미엄 열대과일 주스 입니다.
                깨끗한 과정을 거쳐 과일 그대로의 맛과 영양을 그대로 간직하고 있어 열대과일 특유의 달콤함과 비타민을 그대로 즐기 실 수 있습니다.
              </p>
              <a href="#/malee/detail" class="font-white"> - more -</a>
            </div>
          </div>
        </article>
      </section>
      <section class="slots__slot col-md-4"  :style="{ height: windowHeight + 'px' }">
        <article id="slots__slot_B"  class="slots__container" >
          <div class="slots__option slots__option_col-B" data-type="maretti" :style="{ height: windowHeight + 'px' }">
            <a href="/"><img class="position_top" src="../../assets/tombolo_logo_head.png" alt=""/></a>
            <a href="#/maretti/detail"><img src="../../assets/maretti_logo.png" alt=""/></a>
          </div>
          <div class="slots__option slots__option_col-B" data-type="137degree" :style="{ height: windowHeight + 'px' }">
            <a href="/"><img class="position_top" src="../../assets/tombolo_logo_head.png" alt=""/></a>
            <a href="#/degree137/detail"><img src="../../assets/137_logo.png" alt=""/></a>
          </div>
          <div class="slots__option slots__option_col-B" data-type="risotto" :style="{ height: windowHeight + 'px' }">
            <a href="/"><img class="position_top" src="../../assets/tombolo_logo_head.png" alt=""/></a>
            <a href="#/risotto/detail"><img src="../../assets/risotto_logo.png" alt=""/></a>
          </div>
          <div class="slots__option slots__option_col-B" data-type="tombolo" :style="{ height: windowHeight + 'px' }">
            <a href="#/tombolo/detail"><img src="../../assets/tombolo_home_logo.png" alt="" style="width: 250px;"/></a>
          </div>
          <div class="slots__option slots__option_col-B" data-type="danielle" :style="{ height: windowHeight + 'px' }">
            <a href="/"><img class="position_top" src="../../assets/tombolo_logo_head.png" alt=""/></a>
            <a href="#/danielle/detail"><img src="../../assets/danielle_logo.png" alt=""/></a>
          </div>
          <div class="slots__option slots__option_col-B" data-type="milky_coco" :style="{ height: windowHeight + 'px' }">
            <a href="/"><img class="position_top" src="../../assets/tombolo_logo_head.png" alt=""/></a>
            <a href="#/milky/detail"><img src="../../assets/milky_logo.png" alt=""/></a>
          </div>
          <div class="slots__option slots__option_col-B" data-type="malee" :style="{ height: windowHeight + 'px' }">
            <a href="/"><img class="position_top" src="../../assets/tombolo_logo_head.png" alt=""/></a>
            <a href="#/malee/detail"><img src="../../assets/malee_logo.png" alt=""/></a>
          </div>
        </article>
      </section>
      <section  class="slots__slot col-md-4"  :style="{ height: windowHeight + 'px' }">
        <article id="slots__slot_C" class="slots__container">
          <div class="slots__option slots__option_col-B" data-type="maretti" :style="{ height: windowHeight + 'px' }">
            <img class="full-img" src="../../assets/maretti_3.png" alt=""/>
          </div>
          <div class="slots__option slots__option_col-B" data-type="137degree" :style="{ height: windowHeight + 'px' }">
            <img class="full-img" src="../../assets/137_3.png" alt=""/>
          </div>
          <div class="slots__option slots__option_col-B" data-type="risotto" :style="{ height: windowHeight + 'px' }">
            <img class="full-img" src="../../assets/risotto_3.png" alt=""/>
          </div>
          <div class="slots__option slots__option_col-B" data-type="tombolo" :style="{ height: windowHeight + 'px' }">
            <img class="full-img" src="../../assets/tombolo_3.png" alt=""/>
          </div>
          <div class="slots__option slots__option_col-B" data-type="danielle" :style="{ height: windowHeight + 'px' }">
            <img class="full-img" src="../../assets/danielle_3.png" alt=""/>
          </div>
          <div class="slots__option slots__option_col-B" data-type="milky_coco" :style="{ height: windowHeight + 'px' }">
            <img class="full-img" src="../../assets/milky_3.png" alt=""/>
          </div>
          <div class="slots__option slots__option_col-B" data-type="malee" :style="{ height: windowHeight + 'px' }">
            <img class="full-img" src="../../assets/malee_3.png" alt=""/>
          </div>
        </article>
      </section>
      <bannerModal :show="showModal" :title="modalTitle" :content="modalContent" @close="showModal = false">
      </bannerModal>
    </main>
    <img  class="slots__btn up" id="transition_spin__btn--up" @click="(isDisabled ? null: animate('up'))" src="../../assets/scroll_arrow.png" alt="arrow_down" />
    <img  class="slots__btn" id="transition_spin__btn" @click="(isDisabled ? null: animate('down'))" src="../../assets/scroll_arrow.png" alt="arrow_down" />
  </div>
</template>

<script>
  import bannerModal from '../Modal/bannerModal.vue';
  import XLSX from 'xlsx';
  //  import bannerJsonData from '../../../static/data/banner.json';

  export default {
    name: 'Home',
    data: function () {
      return {
        windowHeight: $(window).height() - 60,
        lastScrollY: 0,
        isDisabled: false,
        showModal: false,
        modalTitle: '',
        modalContent: ''
      }
    },
    beforeMount () {
      var url = '/static/data/banner.xlsx';
      // banner xlsx ajax request
      var self = this;
      this.$http(url, {responseType: 'arraybuffer'}).then(function (res) {
        var data = new Uint8Array(res.data);
        var workbook = XLSX.read(data, {type: 'array'});
        var worksheet = workbook.Sheets[workbook.SheetNames[0]];
        var jsonData = XLSX.utils.sheet_to_json(worksheet);
        var result = self.getPopupCookie('popup' + new Date().getDate());
        if (result === 'end') {
          // this.showModal = true; // 임시 테스트 용
          self.showModal = false; // cookie expire banner not show up
        } else {
          self.showModal = (jsonData[0].showModal.toLowerCase() === 'true');
        }
        self.modalTitle = jsonData[0].title;
        self.modalContent = jsonData[0].content;
      });
      // end banner xlsx ajax request

      // banner json ajax request
      /*      this.$http.get('/static/data/banner.json')
       .then((res) => {
       res = res.data;
       console.log(res);
       var result = this.getPopupCookie('popup' + new Date().getDate());
       if (result === 'end') {
       // this.showModal = true; // 임시 테스트 용
       this.showModal = false; // cookie expire banner not show up
       } else {
       this.showModal = res.showModal;
       }
       this.modalTitle = res.data.title;
       this.modalContent = res.data.content;
       }); */
      // end banner json ajax request
    },
    mounted () {
      this.$nextTick(function () {
        this.windowHeight = $(window).height() - 0.5; // window height 반올림 문제 해결 위해

        $('#slots__slot_A').css({top: -(3 * this.windowHeight)});
        $('#slots__slot_B').css({top: -(3 * this.windowHeight)});
        $('#slots__slot_C').css({top: -(3 * this.windowHeight)});

        $(window).resize(this.resizeCallBack); // window resize 이벤트 등록
        $('.home_container').on('mousewheel DOMMouseScroll', this.determineDirection); // mouse scroll 이벤트 등록
      })
    },
    methods: {
      determineDirection (event) {
        if (this.isDisabled === false) {
          if (event.originalEvent.wheelDelta === -150 || event.originalEvent.wheelDelta === -120) {
            this.animate('down');
          } else {
            this.animate('up');
          }
        }
      },
      resizeCallBack () {
        this.windowHeight = $(window).height() - 0.5; // window height 반올림 문제 해결 위해

        $('#slots__slot_A').css({top: -(3 * this.windowHeight)});
        $('#slots__slot_B').css({top: -(3 * this.windowHeight)});
        $('#slots__slot_C').css({top: -(3 * this.windowHeight)});
      },
      animate (direction) {
        this.isDisabled = true;
        let windowHeight;
        windowHeight = (direction === 'down') ? -(6 * this.windowHeight) : 0;

        let $actionA = $('#slots__slot_A');
        let $actionB = $('#slots__slot_B');
        let $actionC = $('#slots__slot_C');

        var aniObj = {};
        aniObj[direction] = windowHeight;
        let self = this;
        $actionA.animate({top: windowHeight}, 500, 'swing', function () {
          self.rotateContents($actionA, 3, direction);
        });
        $actionB.animate({top: windowHeight}, 700, 'swing', function () {
          self.rotateContents($actionB, 3, direction);
        });
        $actionC.animate({top: windowHeight}, 900, 'swing', function () {
          self.rotateContents($actionC, 3, direction);
          setTimeout(function () {
            self.isDisabled = false;
          }, 300);
        });
      },
      rotateContents ($container, n, direction) {
        let self = this;
        setTimeout(function () {
          self.popPushNItems($container, n, direction);
          $container.css({top: -(n * self.windowHeight)});
        }, 300);
      },
      popPushNItems ($container, n, direction) {
        let $children = $container.find('.slots__option');

        if (direction === 'down') {
          $children.slice(0, n).height(this.windowHeight).insertAfter($children.last());
        } else if (direction === 'up') {
          $children.slice(-3).height(this.windowHeight).insertBefore($children.first());
        }

        if (n === $children.length) {
          this.popPushNItems($container, 1);
        }
      },
      getPopupCookie (name) {
        var cookieName = name + '=';
        var x = 0;
        while (x <= document.cookie.length) {
          var y = (x + cookieName.length);
          if (document.cookie.substring(x, y) === cookieName) {
            let lastChrCookie = document.cookie.indexOf(';', y);
            if (lastChrCookie === -1) {
              lastChrCookie = document.cookie.length;
            }
            return decodeURI(document.cookie.substring(y, lastChrCookie));
          }
          x = document.cookie.indexOf(' ', x) + 1;
          if (x === 0) break;
        }
        return '';
      }
    },
    beforeDestroy () {
      $(window).off('resize');
    },
    components: {
      bannerModal
    }
  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import 'Home.css';
</style>

