.slots {
  overflow: hidden;
}
.slots__container {
  position:absolute;
  width:100%;
}
.slots__option {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:relative;
}
.slots__option  img {
  width: 200px;
  max-width: 100%;
  height: auto;
}
.slots__option .position_top {
  position:absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
}
.slots__slot {
  overflow:hidden !important;
  padding:0 !important;
}
.slots__option_col-A-title{
  text-align: left;
  letter-spacing: 5px;
}
.slots__option_col-A-info {
  text-align: left;
  max-width: 230px;
}
.slots__option_col-A.tombolo {
  background-color: #EFEFEF;
}
.slots__option_col-A.malee {
  background-color: #A8A298;
  color: #fff;
}
.slots__option_col-A.risotto {
  background-color: #E2E0D5;
}
.slots__option_col-A.milky_coco {
  background-color: #EFEFEF;
}
.slots__option_col-A.degree137 {
  background-color: #EFEFEF;
}
.slots__option_col-A.danielle {
  background-color: #A8A298;
  color: #fff;
}
.slots__option_col-A.maretti {
  background-color: #A9B2AF;
  color: #fff;
}

.slots__option_col-B{
  background-color: #F5F8F8;
}

.slots__btn {
  position:absolute;
  bottom: 20px;
  cursor: pointer;
  width:30px;
  height:20px;
  left: 50%;
  transform: translateX( -50%);

}
.slots__btn.up{
  bottom: 60px;
  transform: translateX( -50%) rotateZ(180deg);
}
@media screen and (max-width:768px){
  .hidden-phone {
    display: none;
  }
}
@media screen and (min-width:768px) and (max-width:992px){
  .hidden-tablet {
    display: none;
  }
}
