<template>
  <div id="app" class="app">
    <nav class="">
      <div class="hamburger_menu" @click="navMenuToggle">
        <div class="hamburger_menu__wrap">
          <div class="bar"></div>
        </div>
      </div>
      <div class="menu_list">
        <ul>
          <li><router-link to="/" lang="en">HOME</router-link></li>
          <li><router-link to="/brands" lang="en">BRANDS</router-link></li>
          <li><router-link to="/contact" lang="en">CONTACT</router-link></li>
          <li><router-link to="/notice" lang="en">NOTICE</router-link></li>
        </ul>
      </div>
      <a href="http://storefarm.naver.com/tombolo" class="shopping_icon"><img src="./assets/store.png" alt=""/></a>
    </nav>
    <transition name="slide-fade">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </transition>
  </div>
</template>

<script>
//  import AOS from 'aos';
  export default {
    name: 'app',
    data: () => {
      return {
      }
    },
    mounted () {

    },
    methods: {
      navMenuToggle () {
        $('.bar').toggleClass('open');
        $('.menu_list').toggleClass('open');
      }
    }
  }
</script>

<style>
  @import "App.css";
</style>
