@font-face {
  /*font-family: 'AlienAndCow'; */
  font-family: 'Bebas Neue';
  /*src: url(assets/fonts/aliensandcows.eot) format('embedded-opentype'),
  url(assets/fonts/aliensandcows.woff) format('woff'); */
  src: url(assets/fonts/BebasNeuewebfont.eot) format('embedded-opentype'),
  url(assets/fonts/BebasNeuewebfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

 :lang(en) {
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
}
html, body {
  /*height: 100%;*/
}

.app {
  font-family: 'KoPub Dotum', Helvetica, Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #281d1d;
  height: 100%;
}
.app a {
  color: #281d1d ;
  cursor: pointer ;
}
.app p{
  /*margin: 0 ; */
  padding: 0 0 ;
  line-height: 1.5 ;
}

.app h1 {
  font-size: 50px;
}
.app h2 {
  font-size: 40px;
}
.app h3 {
  font-size: 30px;
}
.app h4 {
   font-size: 24px;
 }
.app h5 {
  font-size: 20px;
}
.app section {
  padding:30px;
}
.app strong {
  font-weight: bold;
}
/* font css */
.font-white {
  color: #fff!important;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
/* end font css */

/* divider */
.text-line-divider {
  display: block;
  width:50px;
  height:3px;
  background:#000;
  margin-bottom: 15px;
}
/* end divider */

.text-line-divider.white {
  background:#fff;
}
.circle_divider > i {
  color: #281d1d;
}
.circle_divider {
  margin: 45px 0;
}

/* etc */
.full-img{
  width:100% !important;
  height:100% !important;
}
.full-width {
  width:100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
/* end etc */

nav .hamburger_menu{
  position: absolute;
  top: 20px;
  left: 30px;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 25px;
  cursor: pointer;
  z-index:99;
}
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
}
nav a {
  font-size: 20px;
}
nav .bar{
  position:relative;
  background:#000;
  transform:translateY(10px);
  transition:all 0ms 100ms ease;
}
nav .bar, .bar:after, .bar:before {
  width: 50px;
  height: 5px;
  background:#000;
}

nav .bar:after{
  content:'';
  position:absolute;
  top:10px;
  left:0;
}
nav .bar:before{
  content:'';
  position:absolute;
  top:-10px;
  left:0;
}
nav .bar.open{
  background:rgba(255,255,255,0);
}
nav .bar.open:after{
  top:0;
  transform:rotateZ(-45deg);
}
nav .bar.open:before{
  top:0;
  transform:rotateZ(45deg);
}
nav .bar:after, .bar:before {
  transition:top 200ms 200ms ease, transform 200ms ease;
}
nav .bar.open:after, .bar.open:before {
  transition:top 200ms ease, transform 200ms 200ms ease;
}
nav .hamburger_menu + .menu_list{
  width:350px;
  position:absolute;
  left:0;
  top:0;
  transition:left 0.5s ease, opacity 0.5s ease;
  opacity:0;
  visibility: hidden;
}
nav .hamburger_menu + .menu_list >ul{
  text-align: center;
  padding:10px;
  margin-bottom: 0;
}
nav .hamburger_menu + .menu_list >ul li{
  display:inline-block;
  list-style:none;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  border-right:1px solid #281d1d;
}
nav .hamburger_menu + .menu_list >ul li:last-child {
  border-right:none;
}
nav .hamburger_menu + .menu_list.open{
  left:100px;
  transition:left 0.5s ease, opacity 0.5s ease;
  opacity:1;
  visibility: visible;
}
nav .shopping_icon{
  display: block;
  position: absolute;
  top: 20px;
  right: 30px;
  bottom: 0;
  width: 80px;
  height: 38px;
  cursor: pointer;
  z-index: 99;
}
nav .shopping_icon > img {
  max-width: 100%;
  max-height: 100%;
}
.header_logo {
  width: 200px;
}

/* page transition css */
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100px);
  opacity: 0;
}

/* end page transition css */


/* bootstrap custom */
.row {
  margin:0 !important;
}
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* media query */
@media screen and (max-width:768px){
  /*  body {
      background-color: #EFEFEF;
    } */
  .app h1 {
    font-size: 25px;
    text-align: center;
  }
  .app h2 {
    font-size: 21px;
  }
  .app h3 {
    font-size: 20px;
  }
  .app h4 {
    font-size: 18px;
  }
  .app section {
    padding: 10px;
  }
  .app p {
    text-align: left;
  }
  nav {
    position: relative;
  }
  .hamburger_menu{
    width: calc(100% - 10px);
  }
  nav .hamburger_menu + .menu_list{
    top:-100px;
    left:0;
    width:100%;
    height:1px;
    overflow: hidden;
    opacity:0;
    transition:top 0.5s ease, opacity 0.3s ease;
    position:absolute;
  }
  nav .hamburger_menu + .menu_list >ul {
    background-color: transparent;
  }
  nav .hamburger_menu + .menu_list >ul li{
    display:block;
    list-style:none;
    padding:10px;
    border-right: none;
    border-bottom:1px solid black;
    text-align:center;
  }

  nav .hamburger_menu + .menu_list.open{
    width:100%;
    height:auto;
    top:0;
    left:0;
    transition:top 0.5s ease, opacity 0.3s ease;
    opacity:1;
    position:relative;
  }

  nav .shopping_icon{
    width: 60px;
  }
}
