
.footer_layout_wrap{
/*  height: 100%; */
  height: auto;
  display: flex;
  flex-direction:column;
}
.footer_layout_wrap > div {
  flex: 1 0 auto;
}
.footer_sns img{
  height:30px;
  margin: 10px 10px;
}
footer {
  background: url(../../assets/footer_bg.png) center no-repeat;
  background-size: cover;
  width:100%;
  height: auto;
}
footer small {
  color: #fff;
}
