<template>
  <div class="footer_layout_wrap">
    <slot></slot>
    <footer>
      <div class="footer_sns">
        <a target="_blank" href="https://www.instagram.com/tombolo_official/" class="footer_sns_img"><img src="../../assets/insta.png"></a>
        <a target="_blank" href="https://www.facebook.com/Tombolo-152215145355869/" class="footer_sns_img"><img src="../../assets/facebook.png"></a>
      </div>
      <small>ⓒ WINNING CORP. ALL RIGHTS RESERVED </small>
    </footer>
  </div>
</template>

<script>
  export default {
    name: 'footerLayout',
    data: function () {
      return {
      }
    },
    mounted () {
      this.$nextTick(function () {
      })
    },
    methods: {

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  @import "footerLayout.css";
</style>
